In [1]:
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from statsmodels.stats import weightstats as stests
import statsmodels.api as sm

In [2]:
df = pd.read_csv('zomato.csv')

df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
print 'Columns: ', df.shape[0]
print 'Rows: ', df.shape[1]

Columns:  51717
Rows:  17

In [4]:
#Dropping unnecessary columns from dataset.
to_drop = ['url','phone','menu_item']
df.drop(to_drop,inplace=True,axis=1)
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari

In [5]:
df['address'].is_unique

False

In [6]:
df.loc[:,'approx_cost(for two people)'].head(10)

0    800
1    800
2    800
3    300
4    600
5    600
6    800
7    600
8    700
9    550
Name: approx_cost(for two people), dtype: object

In [7]:
#Converting cost to numeric.
extr = df['approx_cost(for two people)'].str.replace(",","");

df['approx_cost(for two people)']=pd.to_numeric(extr)

df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari

In [8]:
df.loc[:,'rate'].head(10)
#Removing all new and unrated restaurants
df =df[df.rate!='NEW']
df = df[df.rate!='-']
df =df.dropna(axis=0,how='any')

In [9]:
extr = df['rate'].str.slice(0,3)
extr
df['rate'] = pd.to_numeric(extr)

In [10]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",Buffet,Banashankari

In [11]:
print 'Columns: ', df.shape[0]
print 'Rows: ', df.shape[1]

Columns:  23259
Rows:  14

In [12]:
df.rest_type.describe()

count             23259
unique               73
top       Casual Dining
freq               7331
Name: rest_type, dtype: object

In [13]:
df.shape

(23259, 14)

In [14]:
df.dtypes

address                         object
name                            object
online_order                    object
book_table                      object
rate                           float64
votes                            int64
location                        object
rest_type                       object
dish_liked                      object
cuisines                        object
approx_cost(for two people)    float64
reviews_list                    object
listed_in(type)                 object
listed_in(city)                 object
dtype: object

In [15]:
df.to_csv("zomato_clean.csv")

In [17]:
# https://www.livemint.com/news/india/the-most-popular-dine-out-hubs-in-india-11570968468566.html
print("According to LiveMint, the average review for restaurants in Bangalore is <=4.1. The sample of restaurants taken was 1000")
print("Thus, H1 = Average review of restaurants in bangalore is > 4.1")
print("      H0 = Average review of restaurants in bangalore is <=4.1")
avg_reviews = 4.1 #up to 4.1
n = 1000
pnull = avg_reviews/100
sample_data = df.sample(n=1000)
phat = df['rate'].mean()/100
ztest,pval = sm.stats.proportions_ztest(phat * n, n, pnull, alternative='larger')
# ztest ,pval = stests.ztest(df['rate'], x2=None, value=avg_reviews/100)
# print(float(pval))
if pval<0.05:
     print("reject null hypothesis")
else:
     print("Accept null hypothesis. The average review of restaurants is <=4.1")

According to LiveMint, the average review for restaurants in Bangalore is <=4.1. The sample of restaurants taken was 1000
Thus, H1 = Average review of restaurants in bangalore is > 4.1
      H0 = Average review of restaurants in bangalore is <=4.1
Accept null hypothesis. The average review of restaurants is <=4.1

In [19]:
# https://www.numbeo.com/cost-of-living/in/Bangalore
print("According to Numbeo, the average cost for a two person meal at a mid-tier restaurant in Bangalore is <=1,000. The sample of restaurants taken was 8154")
print("Thus, H1 = Average cost of a two-person meal at restaurants in bangalore is > 1000")
print("      H0 = Average cost of a two-person meal at restaurants in bangalore is <= 1000")
avg_reviews = 1000 #up to 4.1
n = 8154
pnull = avg_reviews/100
sample_data = df.sample(n=8154)
phat = df['approx_cost(for two people)'].mean()/100
ztest,pval = sm.stats.proportions_ztest(phat * n, n, pnull, alternative='larger')
# ztest ,pval = stests.ztest(df['rate'], x2=None, value=avg_reviews/100)
# print(float(pval))
if pval<0.05:
     print("reject null hypothesis")
else:
     print("Accept null hypothesis. The average cost of a two-person meal at restaurants in bangalore is <= 1000")

According to Numbeo, the average cost for a two person meal at a mid-tier restaurant in Bangalore is <=1,000. The sample of restaurants taken was 8154
Thus, H1 = Average cost of a two-person meal at restaurants in bangalore is > 1000
      H0 = Average cost of a two-person meal at restaurants in bangalore is <= 1000
Accept null hypothesis. The average cost of a two-person meal at restaurants in bangalore is <= 1000